In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
obesity = pd.read_csv("Resources/obesity-cleaned.csv")
obesity.head()

   Unnamed: 0      Country  Year    Obesity (%)         Sex
0           0  Afghanistan  1975  0.5 [0.2-1.1]  Both sexes
1           1  Afghanistan  1975  0.2 [0.0-0.6]        Male
2           2  Afghanistan  1975  0.8 [0.2-2.0]      Female
3           3  Afghanistan  1976  0.5 [0.2-1.1]  Both sexes
4           4  Afghanistan  1976  0.2 [0.0-0.7]        Male

In [3]:
world_happiness = pd.read_csv("Resources/world-happiness-report.csv")
world_happiness.head()

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

In [5]:
obesity_df = obesity[['Country', 'Year', 'Obesity (%)', 'Sex']]
obesity_df.fillna(0, inplace = True)
obesity_df = obesity_df[obesity_df['Year'] >= 2008]
obesity_df.head()

C:\Users\ZPurinton\Anaconda3\lib\site-packages\pandas\core\frame.py:4244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  **kwargs

         Country  Year    Obesity (%)         Sex
99   Afghanistan  2008  3.6 [2.2-5.4]  Both sexes
100  Afghanistan  2008  2.0 [0.8-3.9]        Male
101  Afghanistan  2008  5.2 [2.9-8.4]      Female
102  Afghanistan  2009  3.8 [2.4-5.6]  Both sexes
103  Afghanistan  2009  2.1 [0.9-4.2]        Male

In [6]:
world_happiness_df = world_happiness[['Country name', 'year', 'Life Ladder', 'Log GDP per capita', 'Social support', \
                                     'Healthy life expectancy at birth', 'Freedom to make life choices', 'Generosity', \
                                     'Perceptions of corruption', 'Positive affect', 'Negative affect']].copy()

In [11]:
world_happiness_df.columns = ['Country', 'Year', 'Life_Ladder','Log_GDP_Per_Capita','Social_Support',\
                           'Healthy_Life_Expectancy_at_Birth','Freedom_to_Make_Life_Choices', 'Generosity',\
                           'Perceptions_of_Corruptions','Positive_Affect','Negative_Affect']
world_happiness_df.fillna(0, inplace = True)
world_happiness_df.head()

,Country,Year,Life_Ladder,Log_GDP_Per_Capita,Social_Support,Healthy_Life_Expectancy_at_Birth,Freedom_to_Make_Life_Choices,Generosity,Perceptions_of_Corruptions,Positive_Affect,Negative_Affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

In [12]:
joint_df = pd.merge(obesity_df, world_happiness_df, on = ['Country','Year'])
joint_df.head()

,Country,Year,Obesity (%),Sex,Life_Ladder,Log_GDP_Per_Capita,Social_Support,Healthy_Life_Expectancy_at_Birth,Freedom_to_Make_Life_Choices,Generosity,Perceptions_of_Corruptions,Positive_Affect,Negative_Affect
0,Afghanistan,2008,3.6 [2.2-5.4],Both sexes,3.724,7.37,0.451,50.8,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2008,2.0 [0.8-3.9],Male,3.724,7.37,0.451,50.8,0.718,0.168,0.882,0.518,0.258
2,Afghanistan,2008,5.2 [2.9-8.4],Female,3.724,7.37,0.451,50.8,0.718,0.168,0.882,0.518,0.258
3,Afghanistan,2009,3.8 [2.4-5.6],Both sexes,4.402,7.54,0.552,51.2,0.679,0.190,0.850,0.584,0.237
4,Afghanistan,2009,2.1 [0.9-4.2],Male,4.402,7.54,0.552,51.2,0.679,0.190,0.850,0.584,0.237